apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: glusterfs-cluster
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: app
        image: julianstalman/gluster-arm:latest
        volumeMounts:
        - name: glusterfs-storage
          mountPath: /mnt/gv0
      volumes:
      - name: glusterfs-storage
        persistentVolumeClaim:
          claimName: glusterfs-pvc